@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/fancybox/dist/scss/jquery.fancybox";
@import "../../node_modules/normalize.css/normalize";
@import "base/fonts";
@import "base/variables";
@import "base/mixins";
@import "base/pngSprite";
@import "base/svgSprite";
@import "base/default";

.index {
    display: block;
  
    $b: &;
  }
  
  .menu {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    max-width: 1250px;
    width: 90%;
    margin: 0 auto;
  }
  
  .product {
    margin-top: 100px;
    padding-bottom: 140px;
    display: flex;
    justify-content: center;
    position: relative;
    h1 {
      font: 700 52px/52px 'PFRegalTextPro';
      color: #312930;
      z-index: 2;

      span {
        position: relative;
        &:before {
          content: '';
          background-image: url('../images/Vector-131.svg');
          background-size: cover;
          position: absolute;
          width: 407px;
          height: 74px;
          left: -20px;
          bottom: 0;
          z-index: -1;
        }
      }
    }

    &:after {
      content: '';
      background-image: url('../images/Vector-130.svg');
      background-size: cover;
      position: absolute;
      bottom: 10%;
      width: 1289.49px;
      height: 402.27px;
      right: -48%;
      z-index: 1;
    }
  

 
}
  
.container {
  max-width: 1100px;
  margin: 0 auto;

  .menu-bottom {
    font: 25px/31px 'CeraPro';
    display: flex;
    justify-content: flex-start;
    color: #312930;
    margin-top: 100px;
  }
    .header-menu-link {
      margin-right: 50px;
      z-index: 3;

    a {
      padding-bottom: 5px;
      &:hover {
        color: #EE7754;
        position: relative;
        &:after {
          content: '';
          border-bottom: 1px solid #EE7754;
          position: absolute;
          bottom: 0;
          width: 100%;
          left: 0;
          transition: border .8s ease;
        }
      }
      }
    }
}

   
  header {
    margin: 20px 20px 0 20px;
    height: 100%;
    position: relative;
    background-color:#F6F5F3;
    padding-top: 30px;

  
  .menu-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    .logo {
      align-items: flex-start;
      width: 151px;
      height: auto;
  
      i {
        width: 100%;
      }
    }
  
      .menu-link {
        color: #312930;
        text-align: center;
        justify-content: center;

        a {
          display: block;
          font: 26px/33px 'CeraPro';
          p {
            font: 13px/237.2% 'CeraPro';
          }
      }
  
    
       }
      } 
    
     
    .hamburger {
      padding: 0;
      margin: 0;
      cursor: pointer;
      justify-self: self-end;
      align-self: center;
      i {
  
        width: 100%;
      }
    }
  

.content {
  position: relative;
  z-index: 1;
  height: 2000px;
  background-color: #F6F5F3;
  margin: 0 20px;

  h1 {
    position: relative;
    z-index: 1;
  }
  .mass {
    position: relative;
    z-index: 1;
  }

    &:after {
      content: '';
      background: url('../images/Rectangle-336.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      margin: 20px 0;
    }
  

  .block-wt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-top: 200px;
    grid-row-gap: 80px;
    grid-column-gap: 20px;
   
   

  .download {
    position: relative;
    z-index: 1;
    grid-column: 3/ -3;
    font: 400 20px/237.2% 'CeraPro';
    color: #312930;
   

    a {
      position: relative;
      z-index: 1;
      &:after {
        content: '';
        background-image: url('../images/Group-145.svg');
        background-size: cover;
        position: absolute;
        top: 85%;
        left: 0;
        width: 209px;
        height: 20.57px;
        opacity: 1;
      }

      &:before {
        content: '';
        background-image: url('../images/Vector-193.svg');
        background-size: cover;
        position: absolute;
        bottom: -501%;
        right: -22%;
        width: 904px;
        height: 502px;
      }
    
      // &:hover {
      //   &:after {
      //     content: '';
      //     background-image: url('../images/Group-145.svg');
      //     background-size: cover;
      //     position: absolute;
      //     top: 85%;
      //     left: 0;
      //     width: 209px;
      //     height: 20.57px;
      //     transition: opacity .2s ease;
      //     opacity: 1;
      //   }
      // }
      
    }
    
  }

    .year {
      grid-column: 2 / -2;
      h1 {
        color: #312930;
        font: 700 52px/52px 'PFRegalTextPro';
      }
    }

    .mass-1, .mass-2, .mass-3 {
      grid-row: 2;

      h1 {
        font: 400 110px/78px 'Lineatura';
        color: #EE7754;

        sup {
          font: 700 20px/30px 'Lineatura';
          top: -3.2em;
          margin-left: 9px;
        }

      }

      p {
        position: relative;
        padding-left: 40px;
        font: 400 20px/30px 'CeraPro';
        margin-top: 25px;
        color: #312930;
        z-index: 3;
        &:after {
          content: '';
          background-image: url('../images/Rectangle-85.svg');
          background-size: cover;
          position: absolute;
          left: 0;
          width: 25px;
          height: 4px;
          top: 50%;
        }
    }

   
    }

  }

  .entitlement {
    margin-top: 120px;
    display: flex;
    align-items: center;
    
    .text {
      z-index: 1;
      position: relative;
      h1 {
        font: 700 52px/52px 'PFRegalTextPro';
        color: #312930;
      }
    }

    .quality-mark {
      z-index: 1;
      position: relative;
    }
  }
 
}

.eggs {
  margin-top: 100px;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 80px;
  grid-column-gap: 80px;
  font: 500 18px/24px 'CeraPRO';
  color: #312930;

  .square {
    position: absolute;
    width: 985px;
    height: 380px;
    bottom: 3%;
    right: -17%;
    z-index: 0;
    background: #F6F5F3;
    clip-path: polygon(5% 0,100% 0,95% 100%,0 100%);
  }

  .eggs-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 80px;
    grid-column-gap: 80px;
    grid-column: 4/1;

    .eggs-block{
      z-index: 1;
      position: relative;
      height: 250px;

      p {
        position: absolute;
        height: 100px;
        bottom: 0;
      }

    }

    .eggs-block {
      position: relative;
      height: 220px;
      
    .svg-eggs-6 {
      position: absolute;
      top: 30px;
    }
  }

}
}

.request {
  margin: 0 20px;
  background: #F6F5F3;
  position: relative;

  h1 {
    padding-top: 120px;
    padding-bottom: 80px;
    max-width: 839px;
    font: 700 52px/52px 'PFRegalTextPro';
    color: #312930;
  }

  .application {
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    ::-webkit-input-placeholder {
      font: 400 20px/30px 'CeraPro';
      color: #312930;
    }
    ::-moz-placeholder    {
      font: 400 20px/30px 'CeraPro';
      color: #312930;
    }     
:-moz-placeholder  {
  font: 400 20px/30px 'CeraPro';
  color: #312930;
}         
:-ms-input-placeholder {
  font: 400 20px/30px 'CeraPro';
  color: #312930;
}

    input {
      border-bottom: 1px solid #312930;
      width: 100%;
      padding-bottom: 20px;
      padding-top: 50px;
      font: 400 20px/30px 'CeraPro';
      color: #312930;

      
    }

    .item {
      width: 45%;
      .question {
        height: 100%;
        position: relative;
        &:before {
          content: 'необязательно';
          position: absolute;
          right: 0;
          color: #312930;
          top: 40px;
          font: 400 12px/30px 'CeraPro';
        }
        textarea {
          padding-top: 40px;
          width: 100%;
          height: 100%;
          border-bottom: 1px solid;
          resize: none;
        }
      }
    }

    .phone {
      position: relative;
       
      &:before {
        content: 'необязательно';
        position: absolute;
        right: 0;
        color: #312930;
        bottom: 20px;
        font: 400 12px/30px 'CeraPro';
      }
    }
  }
}
 
.otpravka {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  
  .item {
    width: 45%;
  } 
  .item-submit {
    width: 45%;
    margin-bottom: 40px;
    font: 400 20px 'CeraPro';
    color: #312930;
    position: relative;

    &:after {
      content: '';
      background-image: url('../images/Group-2.svg');
      background-size: cover;
      position: absolute;
      width: 104px;
      height: 20.57px;
      bottom: -22px;
      left: 0;
    }

    input {
      cursor: pointer;
    
    }

  }
  .item-checkbox {
    font: 400 14px/21px 'CeraPro';
    color: #312930;
    position: relative;
    margin-bottom: 40px;
    input[type=checkbox] {
          display: none;
      }
  
    .text {
      display: inline;
      height: 30px;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      vertical-align: middle;
      margin-left: 15px;
       
      a {
        text-decoration: underline;
      }
    }
    
    label {
      display: inline-block;
      cursor: pointer;
      position: relative;
      width: 31px;
      height: 31px;
    }
  
    input + label:after {
      content: "";
      position: absolute;
      border: 1px solid #312930;
      border-radius: 50%;
      width: 31px;
      height: 31px;
      cursor: pointer;
      z-index: 3;
    }
       
    input { 
  
      &:checked + label:before {
        content: "";
        background-image: url('../images/checkbox-active.svg');
        background-size: cover;
        width: 24px;
        height: 20px;
        z-index: 3;
        position: absolute;
        right: 0;
       
       
    }
    &:checked + label:after { 
      border: 1px solid #EE7754;
      border-radius: 50%;
      width: 31px;
      height: 31px;
    }
    &:not(:disabled):not(:checked)+label:hover:before {
        content: "";
        background-image: url('../images/checkbox-hover.svg');
        background-size: cover;
        width: 24px;
        height: 20px;
        z-index: 3;
        position: absolute;
        right: 0;
       
    }

  }
         
  }
}

.about-us {
  clip-path: polygon(5% 0,100% 0,95% 100%,0 100%);
  background: #FFFFFF;
  margin-top: 120px;
}

.about-us-block {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 332px;
  flex-wrap: wrap;
 

  &:after {
    content: '';
    background-image: url('../images/Vector-136.svg');
    background-size: cover;
    position: absolute;
    bottom: 20px;
    left: -28px;
    width: 1043.24px;
    height: 257.24px;
  }


  .item {
    z-index: 3;

    h1 {
      padding: 0;
      font: 700 52px/52px 'PFRegalTextPro';
      color: #312930;
    }
  }
}

.subscription {
  margin-top: 200px;
  padding-bottom: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .item {
    width: 35%;

    h1 {
      font: 700 52px/40px 'PFRegalTextPro';
      color: #312930;
      padding: 0;

    }

    .form-subscription {

      .box-email {
        position: relative;
        &:before {
          content: '';
          background-image: url('../images/Group-107.svg');
          background-size: cover;
          position: absolute;
          bottom: 23px;
          right: 36px;
          width: 29px;
          height: 15px;
        }
        &:focus-within {
          &:before {
            content: '';
            background-image: url('../images/Group-107-focus.svg');
            background-size: cover;
            position: absolute;
            bottom: 23px;
            right: 36px;
            width: 29px;
            height: 15px;
            z-index: 5;
          }
          
        }
        .sending {
          display: block;
          input {
            position: absolute;
            bottom: 23px;
            right: 36px;
            width: 29px;
            height: 15px;
            cursor: pointer;
          }
        }
        
        .email {
          padding-bottom: 23px;
          border-bottom: 1px solid #312930;
          font: 400 18px/21px 'CeraPro';
          color: #312930;
          width: 90%;

          &:focus {
              border-bottom: 1px solid #EE7754;
            }
      
        } 
      }

      ::-webkit-input-placeholder { 
        font: 400 18px/21px 'CeraPro';
        color: #312930;

      }
 
      :-moz-placeholder  {
        font: 400 18px/21px 'CeraPro';
        color: #312930;
      }         
      :-ms-input-placeholder {
        font: 400 18px/21px 'CeraPro';
        color: #312930;
      }

      :-ms-input-placeholder { 
        font: 400 18px/21px 'CeraPro';
        color: #312930;
      }

    }
    
  }
}

marquee {
  font: 700 14px/21px 'CeraPro';
  letter-spacing: 0.2em;
  color: #4BCC6A;
  position: absolute;
  bottom: 0;

}

footer {
  padding-top: 200px;
  padding-bottom: 38px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;

  .copyright {
    grid-column: 3/1;

    .item-title {
      font: 400 14px/26px 'CeraPro';
      color: #919191;
    }

  }

  .link-cloudmill {
    font: 400 14px/26px 'CeraPro';
    color: #312930;
    text-align: center;
    grid-column: 3/3;

    a{
      color: #EE7854;
    }
  }

  .footer-menu {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;

    .item-menu {
      grid-row: 1/2;
      grid-column: 2/2;
      font: 400 18px/44px 'CeraPro';
      color: #312930;

      .menu-link-right {
        a {
          &:hover {
            color: #EE7754;
          }
        }
      }
    }
  
    .item-product {
      grid-column: 1/2;
    }

    .menu-link {
      
      margin-bottom: 30px;
      a {
        font: 400 34px/43px 'CeraPro';
        color: #312930;
        position: relative;
        &:hover {
          &:after {
            content: '';
            background-image: url('../images/product.svg');
            background-size: cover;
            position: absolute;
            left: 0;
            bottom: -12px;
            width: 100%;
            height: 16px;
                
        }
        }

        p {
          font-family: CeraPro;
          font-weight: normal;
          font-size: 14px;
          line-height: 237.2%;
          color: #919191;
        }
      }
    }

    .menu-about-us {
      
      margin-bottom: 30px;
      a {
        font: 400 34px/43px 'CeraPro';
        color: #312930;
        position: relative;
        &:hover {
          &:after {
            content: '';
            background-image: url('../images/about-us.svg');
            background-size: cover;
            position: absolute;
            left: 0;
            bottom: -12px;
            width: 100%;
            height: 16px;
                
        }
        }

        p {
          font: 400 14px/237.2% 'CeraPro';
          color: #919191;
        }
      }
    }

    .menu-link-right {
      font: 400 18px/44px 'CeraPro';
      color: #312930;

      a {
        display: block;
      }
    }
  }

  .address {

    span {
      font: 400 14px/26px 'CeraPro';
      color: #919191;
    }

    p {
      font: 400 16px/26px 'CeraPro';
      color: #312930;
      margin-top: 4px;
    }
  }
    .office-hours {
      grid-column: 2;
      grid-row: 2;

      span {
        font: 400 14px/26px 'CeraPro';
        color: #919191;
      }
  
      p {
        font: 400 16px/26px 'CeraPro';
        color: #312930;
        margin-top: 4px;
      }
    }

    .number {
      grid-column: 3;
      grid-row: 1;

      span {
        font: 400 16px/26px 'CeraPro';
        color: #312930;

      }

      .tel {
        font: 700 24px/26px 'CeraPro';
        color: #312930;
        padding: 0;
        display: block;
        margin-top: 8px;

        &:hover {
          color: #EE7754;
        }
      }

      .question {
        font: 400 17px/40px 'CeraPro';
        color: #312930;
        margin-top: 18px;
        position: relative;
        display: block;

        &:after {
          content: '';
          background-image: url('../images/question.svg');
          background-size: cover;
          position: absolute;
          left: 0;
          bottom: -8px;
          width: 125px;
          height: 20.57px;
              
      }
      
    }
  }

    .weekend {
      grid-row: 3;

      span {
        font: 400 14px/26px 'CeraPro';
        color: #919191;
      }
  
      p {
        font: 400 16px/26px 'CeraPro';
        color: #312930;
        margin-top: 4px;
      }
  
    }

    .privacy {
      font: 400 14px/26px 'CeraPro';
      color: #312930;
      grid-column: 1;
      grid-row: 3;

      a {
        display: block;
        &:hover {
          color: #EE7754;
        }
      }
    }

    .social {
      grid-row: 3;
      grid-column: 3;
      .social-icon {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;

        a {

          .svg-social-instagram {
            &:before {
              width: 1.9em;
              height: 1.9em;
            }

          }

          &:hover {

            .svg-social-instagram {
              &:before {
                content: '';
                background-image: url('../images/social-instagram.svg');
                background-size: cover;
                background-position: unset;
                width: 1.9em;
                height: 1.9em;
              }
              }

              .svg-social-vk {
                &:before {
                  content: '';
                  background-image: url('../images/social-vk.svg');
                  background-size: cover;
                  background-position: unset;
                 
                }
                }

                .svg-social-twitter {
                  &:before {
                    content: '';
                    background-image: url('../images/social-twitter.svg');
                    background-size: cover;
                    background-position: unset;
                   
                  }
                  }

                  .svg-social-facebook {
                    &:before {
                      content: '';
                      background-image: url('../images/social-facebook.svg');
                      background-size: cover;
                      background-position: unset;
                     
                    }
                    }

                    .svg-social-ok {
                      &:before {
                        content: '';
                        background-image: url('../images/social-ok.svg');
                        background-size: cover;
                        background-position: unset;
                       
                      }
                      }

                      .svg-social-wikipedia {
                        &:before {
                          content: '';
                          background-image: url('../images/social-wikipedia.svg');
                          background-size: cover;
                          background-position: unset;
                         
                        }
                        }
              
          }
        }
      }

      p {
        font: 400 14px/26px 'CeraPro';
        color: #312930;
        margin: 0;
      }
    }

}

@import "base/breakpoints";