.svg-icon {
    font-size: 10px;
}

.svg-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../images/sprite.svg");
    background-repeat: no-repeat;
    background-size: 82.27848101265823em 340.1em;
}

.no-svg .svg-icon:before {
    background-image: url("../images/sprite.png");
}



  .svg-icon.svg-Group-107:before {
      background-position: 0em 0em;
      width: 3.3em;
      height: 1.8em;
  }




  .svg-icon.svg-Group_2:before {
      background-position: 0em -1.8em;
      width: 7.9em;
      height: 7.8em;
  }




  .svg-icon.svg-Rectangle-336:before {
      background-position: 0em -9.6em;
      width: 82.27848101265823em;
      height: 100em;
  }




  .svg-icon.svg-car:before {
      background-position: 0em -109.6em;
      width: 13.6em;
      height: 7.2em;
  }




  .svg-icon.svg-certificate:before {
      background-position: 0em -116.8em;
      width: 7.7em;
      height: 9.1em;
  }




  .svg-icon.svg-eggs-1:before {
      background-position: 0em -125.9em;
      width: 7.7em;
      height: 9.1em;
  }




  .svg-icon.svg-eggs-2:before {
      background-position: 0em -135em;
      width: 12.1em;
      height: 11em;
  }




  .svg-icon.svg-eggs-3:before {
      background-position: 0em -146em;
      width: 7.8em;
      height: 9.8em;
  }




  .svg-icon.svg-eggs-4:before {
      background-position: 0em -155.8em;
      width: 10.3em;
      height: 7em;
  }




  .svg-icon.svg-eggs-5:before {
      background-position: 0em -162.8em;
      width: 13.6em;
      height: 7.2em;
  }




  .svg-icon.svg-eggs-6:before {
      background-position: 0em -170em;
      width: 40.3em;
      height: 24.2em;
  }




  .svg-icon.svg-logo_1:before {
      background-position: 0em -194.2em;
      width: 15.1em;
      height: 9.6em;
  }




  .svg-icon.svg-logotype:before {
      background-position: 0em -203.8em;
      width: 15.1em;
      height: 9.6em;
  }




  .svg-icon.svg-navigation:before {
      background-position: 0em -213.4em;
      width: 7.9em;
      height: 7.8em;
  }




  .svg-icon.svg-pack:before {
      background-position: 0em -221.2em;
      width: 40.3em;
      height: 24.2em;
  }




  .svg-icon.svg-presentation:before {
      background-position: 0em -245.4em;
      width: 7.8em;
      height: 9.8em;
  }




  .svg-icon.svg-prevslogo:before {
      background-position: 0em -255.2em;
      width: 24.2em;
      height: 24.3em;
  }




  .svg-icon.svg-quality-mark:before {
      background-position: 0em -279.5em;
      width: 24.2em;
      height: 24.3em;
  }




  .svg-icon.svg-social-facebook:before {
      background-position: 0em -303.8em;
      width: 1.1em;
      height: 2.3em;
  }




  .svg-icon.svg-social-instagram:before {
      background-position: 0em -306.1em;
      width: 1.8em;
      height: 1.8em;
  }




  .svg-icon.svg-social-ok:before {
      background-position: 0em -307.9em;
      width: 1.4em;
      height: 2.4em;
  }




  .svg-icon.svg-social-twitter:before {
      background-position: 0em -310.3em;
      width: 2em;
      height: 1.8em;
  }




  .svg-icon.svg-social-vk:before {
      background-position: 0em -312.1em;
      width: 2.6em;
      height: 1.6em;
  }




  .svg-icon.svg-social-wikipedia:before {
      background-position: 0em -313.7em;
      width: 2.8em;
      height: 1.7em;
  }




  .svg-icon.svg-statistics:before {
      background-position: 0em -315.4em;
      width: 10.3em;
      height: 7em;
  }




  .svg-icon.svg-str-down:before {
      background-position: 0em -322.4em;
      width: 4.3em;
      height: 4.3em;
  }




  .svg-icon.svg-str-right-white:before {
      background-position: 0em -326.7em;
      width: 2.6em;
      height: 0.8em;
  }




  .svg-icon.svg-str-up:before {
      background-position: 0em -327.5em;
      width: 1.5em;
      height: 0.8em;
  }




  .svg-icon.svg-str-up-blue:before {
      background-position: 0em -328.3em;
      width: 1.5em;
      height: 0.8em;
  }




  .svg-icon.svg-vote:before {
      background-position: 0em -329.1em;
      width: 12.1em;
      height: 11em;
  }





