.svg-icon {
    font-size: 10px;
}

.svg-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../images/sprite.svg");
    background-repeat: no-repeat;
    background-size: 82.27848101265823em 326.7em;
}

.no-svg .svg-icon:before {
    background-image: url("../images/sprite.png");
}



  .svg-icon.svg-Group_2:before {
      background-position: 0em 0em;
      width: 7.9em;
      height: 7.8em;
  }




  .svg-icon.svg-Rectangle-336:before {
      background-position: 0em -7.8em;
      width: 82.27848101265823em;
      height: 100em;
  }




  .svg-icon.svg-car:before {
      background-position: 0em -107.8em;
      width: 13.6em;
      height: 7.2em;
  }




  .svg-icon.svg-certificate:before {
      background-position: 0em -115em;
      width: 7.7em;
      height: 9.1em;
  }




  .svg-icon.svg-eggs-1:before {
      background-position: 0em -124.1em;
      width: 7.7em;
      height: 9.1em;
  }




  .svg-icon.svg-eggs-2:before {
      background-position: 0em -133.2em;
      width: 12.1em;
      height: 11em;
  }




  .svg-icon.svg-eggs-3:before {
      background-position: 0em -144.2em;
      width: 7.8em;
      height: 9.8em;
  }




  .svg-icon.svg-eggs-4:before {
      background-position: 0em -154em;
      width: 10.3em;
      height: 7em;
  }




  .svg-icon.svg-eggs-5:before {
      background-position: 0em -161em;
      width: 13.6em;
      height: 7.2em;
  }




  .svg-icon.svg-eggs-6:before {
      background-position: 0em -168.2em;
      width: 40.3em;
      height: 24.2em;
  }




  .svg-icon.svg-logo_1:before {
      background-position: 0em -192.4em;
      width: 15.1em;
      height: 9.6em;
  }




  .svg-icon.svg-logotype:before {
      background-position: 0em -202em;
      width: 15.1em;
      height: 9.6em;
  }




  .svg-icon.svg-navigation:before {
      background-position: 0em -211.6em;
      width: 7.9em;
      height: 7.8em;
  }




  .svg-icon.svg-pack:before {
      background-position: 0em -219.4em;
      width: 40.3em;
      height: 24.2em;
  }




  .svg-icon.svg-presentation:before {
      background-position: 0em -243.6em;
      width: 7.8em;
      height: 9.8em;
  }




  .svg-icon.svg-prevslogo:before {
      background-position: 0em -253.4em;
      width: 24.2em;
      height: 24.3em;
  }




  .svg-icon.svg-statistics:before {
      background-position: 0em -277.7em;
      width: 10.3em;
      height: 7em;
  }




  .svg-icon.svg-str-down:before {
      background-position: 0em -284.7em;
      width: 4.3em;
      height: 4.3em;
  }




  .svg-icon.svg-str-right-white:before {
      background-position: 0em -289em;
      width: 2.6em;
      height: 0.8em;
  }




  .svg-icon.svg-str-up:before {
      background-position: 0em -289.8em;
      width: 1.5em;
      height: 0.8em;
  }




  .svg-icon.svg-str-up-blue:before {
      background-position: 0em -290.6em;
      width: 1.5em;
      height: 0.8em;
  }




  .svg-icon.svg-vote:before {
      background-position: 0em -291.4em;
      width: 12.1em;
      height: 11em;
  }




  .svg-icon.svg-Слой-2:before {
      background-position: 0em -302.4em;
      width: 24.2em;
      height: 24.3em;
  }





